/*-----------------------------------*\
  #main.css
\*-----------------------------------*/

/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
    /**
   * colors
   */

    --blue-dark: hsla(220, 56%, 32%, 1);
    --blue-dark2: hsla(220, 57%, 32%, 1);
    --blue-light: hsla(201, 100%, 93%, 1);
    --blue-light2: hsla(202, 100%, 96%, 1);
    --blue-light3: hsla(214, 86%, 75%, 1);
    --blue-light4: hsla(221, 33%, 70%, 1);
    --dark-grey: hsla(0, 0%, 20%, 1);
    --black: hsla(0, 0%, 0%, 1);
    --violet-blue-crayola: hsla(234, 50%, 64%, 1);
    --dark-cornflower-blue_a7: hsla(214, 88%, 27%, 0.07);
    --white: hsla(0, 0%, 100%, 1);
    --white_a3: hsla(0, 0%, 100%, 0.03);
    --white_a8: hsla(0, 0%, 100%, 0.08);
    --white_a12: hsla(0, 0%, 100%, 0.12);
    --white_a70: hsla(0, 0%, 100%, 0.7);
    --cultured: hsla(220, 20%, 97%, 1);
    --lavender-web: hsla(233, 52%, 94%, 1);
    --cadet-blue-crayola: hsla(220, 12%, 70%, 1);
    --cadet-blue-crayola_a20: hsla(222, 23%, 71%, 0.2);
    --charcoal: hsla(218, 22%, 26%, 1);
    --raisin-black: hsla(216, 14%, 14%, 1);
    --light-gray: hsla(0, 0%, 51%, 1);
    --light-gray2: hsla(0, 0%, 85%, 1);
    --blue-crayola: hsla(219, 72%, 56%, 1);
    --black-coral: hsla(220, 12%, 43%, 1);

    /**
   * typography
   */

    --ff-poppins: "Poppins", sans-serif;

    --fs-1: calc(2.7rem + 1.38vw);
    --fs-2: calc(2.6rem + 0.66vw);
    --fs-2-2: 3rem;
    --fs-3: 2.2rem;
    --fs-4: 1.9rem;
    --fs-5: 1.8rem;
    --fs-6: 1.7rem;
    --fs-7: 1.5rem;
    --fs-8: 1.4rem;

    --fw-700: 700;

    /**
   * spacing
   */

    --section-padding: 30px;

    /**
   * box shadow
   */

    --shadow-1: 0 0 20px hsla(216, 14%, 14%, 0.05);
    --shadow-2: 0 0 0 0.05rem hsla(214, 88%, 27%, 0.08),
        0 0 1.25rem hsla(216, 14%, 14%, 0.06);
    --shadow-3: 0 0 1.25rem hsla(216, 14%, 14%, 0.04);

    /**
   * border radius
   */

    --radius-circle: 50%;
    --radius-pill: 100px;
    --radius-10: 10px;
    --radius-8: 8px;
    --radius-6: 6px;

    /**
   * transition
   */

    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --transition-3: 0.3s ease-in-out;
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a,
img,
span,
input,
button,
ion-icon {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    height: auto;
}

input,
button {
    background: none;
    border: none;
    font: inherit;
}

input {
    width: 100%;
}

button {
    cursor: pointer;
}

ion-icon {
    pointer-events: none;
}

address {
    font-style: normal;
}

html {
    font-family: var(--ff-poppins);
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background-color: var(--white);
    color: var(--black-coral);
    font-size: 1.6rem;
    line-height: 1.7;
}

body.nav-active {
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: hsl(0, 0%, 98%);
}

::-webkit-scrollbar-thumb {
    background-color: hsl(0, 0%, 80%);
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(0, 0%, 70%);
}

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container {
    padding-inline: 20px;
}

.social-list {
    display: flex;
    align-items: center;
    gap: 12px;
}

.social-link {
    font-size: 2rem;
    transition: var(--transition-1);
}

.social-link:is(:hover, :focus-visible) {
    transform: translateY(-3px);
}

.section {
    padding-block: var(--section-padding);
}

.has-bg-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.h1,
.h2,
.h3,
.h4,
.h5 {
    color: var(--charcoal);
    font-weight: var(--fw-700);
    line-height: 1.3;
}

.h1 {
    font-size: var(--fs-1);
}

.h2 {
    font-size: var(--fs-2);
}

.h3 {
    font-size: var(--fs-3);
}

.h4 {
    font-size: var(--fs-4);
}

.h5 {
    font-size: var(--fs-6);
}

.h6 {
    font-size: var(--fs-7);
}

.btn {
    color: var(--white);
    font-size: var(--fs-6);
    font-weight: var(--fw-700);
    border: 2px solid var(--white);
    max-width: max-content;
    padding: 12px 28px;
    border-radius: var(--radius-pill);
    transition: var(--transition-1);
    will-change: transform;
}

.btn:is(:hover, :focus-visible) {
    transform: translateY(-4px);
}

.btn-primary,
.btn-outline:is(:hover, :focus-visible) {
    background-color: var(--white);
    color: var(--charcoal);
}

.img-holder {
    aspect-ratio: var(--width) / var(--height);
    background-color: var(--light-gray);
    overflow: hidden;
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-subtitle {
    font-size: var(--fs-4);
    color: var(--blue-dark);
    font-weight: var(--fw-700);
    margin-block-end: 20px;
}

.grid-list {
    display: grid;
    gap: 25px;
}

.w-100 {
    width: 100%;
}

.back-to-top {
    background-color: var(--blue-dark2);
    color: var(--white);
    height: 40px;
    width: 40px;
    position: fixed;
    right: 70px;
    bottom: 30px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.3s,
        visibility 0.3s;
    cursor: pointer;
}

.back-to-top.show {
    opacity: 1;
    visibility: visible;
}

.back-to-top.hide {
    opacity: 0;
    visibility: hidden;
}

.footer-copyright {
    color: var(--blue-light4);
    margin-top: 50px;
}

/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header .btn {
    display: none;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-block: 12px;
    box-shadow: var(--shadow-1);
    z-index: 4;
    background-color: var(--white);
}

.header.active {
    background-color: var(--white);
    position: fixed;
    animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.header.active .logo-light,
.header .logo-dark {
    display: none;
}

.header .logo-light,
.header.active .logo-dark {
    display: block;
}

.nav-open-btn {
    font-size: 3.5rem;
    color: var(--blue-dark);
    background-color: var(--blue-light);
    border-radius: 5px;
    padding: 2px;
}

.nav-open-btn ion-icon {
    width: 25px;
    height: 25px;
}

.header.active .nav-open-btn {
    color: var(--charcoal);
}

.navbar {
    position: fixed;
    top: 0;
    left: -300px;
    background-color: var(--white);
    color: var(--white);
    max-width: 250px;
    width: 100%;
    height: 100vh;
    padding: 30px;
    padding-block-end: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index: 2;
    visibility: hidden;
    transition: var(--transition-3);
}

.navbar.active {
    visibility: visible;
    transform: translateX(300px);
}

.navbar-top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-close-btn {
    background-color: var(--white_a8);
    color: var(--dark-grey);
    font-size: 2rem;
    padding: 6px;
    border-radius: var(--radius-circle);
    transition: var(--transition-1);
}

.nav-close-btn ion-icon {
    --ionicon-stroke-width: 50px;
}

.nav-close-btn:is(:hover, :focus-visible) {
    background-color: var(--white_a12);
}

.navbar-list {
    margin-block-end: auto;
}

.navbar-link {
    font-weight: var(--fw-700);
    padding-block: 6px;
    color: var(--blue-dark);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--raisin-black);
    pointer-events: none;
    opacity: 0;
    transition: var(--transition-1);
}

.overlay.active {
    pointer-events: all;
    opacity: 0.8;
}

/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero {
    text-align: center;
    padding: 0px;
}

.hero.slide-content {
    background-color: var(--blue-light2);
    margin-top: 54px;
}

.hero .container {
    display: grid;
    gap: 70px;
    max-width: none;
    padding: 0px;
}

.hero-title {
    color: var(--white);
}

.hero-text {
    font-size: var(--fs-5);
    color: var(--white);
    margin-block: 24px 36px;
}

.btn-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.hero-slider,
.hero-card {
    position: relative;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--white_a70);
    }

    75% {
        box-shadow: 0 0 0 20px transparent;
    }
}

.hero .slider-inner {
    overflow: hidden;
}

.hero .slider-container {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 8px;
    transition: var(--transition-2);
}

.hero .slider-item {
    min-width: 100%;
    width: 100%;
    overflow: hidden;
}

.hero .slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--white_a70);
    color: var(--dark-grey);
    font-size: 2rem;
    padding: 12px;
    border-radius: var(--radius-circle);
    transition: var(--transition-1);
}

.hero .slider-btn:is(:hover, :focus-visible) {
    background-color: var(--white);
}

.hero .slider-btn.prev {
    left: 20px;
}

.hero .slider-btn.next {
    right: 20px;
}

/*-----------------------------------*\
  #RESI-DIGITAL
\*-----------------------------------*/

.resi-digital {
    /* text-align: center; */
}

.resi-digital .section-title {
    margin-block-end: 50px;
}

.resi-digital-card {
    padding: 10px 20px;
    box-shadow: var(--shadow-2);
    border-radius: var(--radius-6);
    color: var(--light-gray);
    height: 100%;
}

.card-text {
    font-size: 14px;
}

ul.card-text {
    margin-left: 25px;
}

.card-text li {
    list-style: auto;
    padding-bottom: 4px;
}

.resi-digital-card .card-icon {
    width: 60px;
    height: 60px;
    background-color: var(--blue-dark);
    display: grid;
    place-items: center;
    color: var(--white);
    font-size: 2.5rem;
    border-radius: var(--radius-circle);
    margin-inline: auto;
}

.resi-digital-card .card-icon ion-icon {
    --ionicon-stroke-width: 50px;
}

.resi-digital-card .card-title {
    margin-block: 16px 10px;
}

.resi-digital-card .btn-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin-block-start: 10px;
    color: var(--blue-dark);
    font-weight: var(--fw-700);
    transition: var(--transition-1);
}

.resi-digital-card .btn-text:is(:hover, :focus-visible) {
    opacity: 0.9;
}

/*-----------------------------------*\
  #FAQ-INFO
\*-----------------------------------*/
.faq-info {
    background-color: var(--blue-light2);
    padding-block: 50px;
}

.faq-info .tabs-menu {
    background-color: var(--white);
    padding: 50px 40px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.faq-info .tab {
    padding: 15px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.faq-info .tab.tab-active {
    background-color: var(--blue-dark);
}

.faq-info .tab h3 {
    color: var(--blue-light3);
    font-size: var(--fs-5);
    font-weight: 400;
}

.faq-info .tab.tab-active h3 {
    color: var(--white);
}

.faq-info .container {
    display: grid;
    gap: 150px;
}

.faq-info spna {
    text-align: left;
    font-weight: 400;
}

.accordion-card {
    border-bottom: 1px solid var(--light-gray2);
    margin-bottom: 15px;
}

.accordion-card .card-title {
    padding-block-end: 20px;
}

.accordion-btn {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    width: 100%;
}

.accordion-btn ion-icon {
    font-size: var(--fs-3);
    color: var(--blue-dark);
    transition: var(--transition-1);
    min-width: 40px;
}

.accordion-card.expanded .accordion-btn ion-icon {
    transform: rotate(0.5turn);
}

.accordion-btn .span {
    transition: var(--transition-1);
    color: var(--black);
}

.accordion-btn:is(:hover, :focus-visible) .span,
.accordion-card.expanded .accordion-btn .span {
    color: var(--blue-dark);
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    color: var(--light-gray);
    font-size: var(--fs-8);
}

.accordion-content a.email-link {
    display: inline;
}

.accordion-content ul li {
    list-style: inside;
}

.accordion-card.expanded .accordion-content {
    max-height: max-content;
    padding-block-end: 20px;
}

/*-----------------------------------*\
  #DOWNLOAD-INFOS
\*-----------------------------------*/

.download-info .container {
    display: grid;
    gap: 50px;
}

.download-info .download-info-banner {
    display: flex;
    justify-content: center;
    position: relative;
    padding-block: 20px;
}

.download-info .download-info-banner img {
    width: 100%;
    height: auto;
}

.download-info .download-info-banner:before {
    height: 0;
    width: 0;
}

.download-info .download-info-banner:after {
    content: "";
    background-image: url(../images/ornament.png);
    background-repeat: no-repeat;
    background-size: 200px;
    height: 200px;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: -30px;
    background-position: right;
}

.download-info .section-title {
    font-size: var(--fs-2-2);
    color: var(--blue-dark2);
}

.download-info .section-text {
    margin-block: 25px 30px;
    color: var(--light-gray);
}

.download-info .logo-travoy {
    margin-bottom: 30px;
}

.download-info .download-platform {
    display: flex;
    gap: 15px;
    justify-content: space-between;
}

.download-info .download-platform img {
    width: 100%;
}

/*-----------------------------------*\
  #OFFER
\*-----------------------------------*/

.offer {
    background-color: var(--blue-light2);
    padding-block: 0px;
    padding-top: 30px;
}

.offer .container {
    align-items: center;
    gap: 40px;
    display: flex;
    flex-direction: column-reverse;
}

.offer-banner img {
    width: 100%;
}

.offer .section-title {
    font-size: var(--fs-2-2);
    color: var(--blue-dark2);
}

.offer .section-text {
    margin-block: 25px 30px;
    color: var(--black);
}

.offer-join {
    background-color: var(--blue-dark2);
    border-radius: 100px;
    padding: 10px 25px;
    color: var(--white);
    display: inline-flex;
    align-items: center;
    gap: 13px;
}

/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer {
    background-color: var(--white);
    padding-block: 20px 60px;
    color: var(--light-gray);
}

.footer .social-list {
    color: var(--blue-dark2);
    margin-top: 20px;
}

.footer .social-list li a {
    background-color: var(--blue-light);
    border-radius: 50px;
    width: 41px;
    height: 41px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.footer-list-title {
    color: var(--blue-light4);
    margin-block-end: 16px;
    font-size: 16px;
}

.footer-list li {
    color: var(--blue-light4);
}

.footer-list li.with-icon {
    display: grid;
    gap: 8px;
    grid-template-columns: 0.07fr 1fr;
}

.footer .footer-platform {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.footer-list li.with-icon ion-icon {
    font-size: 20px;
    padding-top: 5px;
}

.footer-link {
    padding-block: 4px;
    transition: var(--transition-1);
}

.footer-link:is(:hover, :focus-visible) {
    color: var(--blue-dark);
}

.input-wrapper {
    position: relative;
    margin-block-start: 25px;
}

.input-field {
    background-color: var(--white_a3);
    color: var(--light-gray);
    font-size: var(--fs-7);
    padding: 12px 16px;
    border: 1px solid var(--dark-cornflower-blue_a7);
    border-radius: var(--radius-6);
    box-shadow: var(--shadow-3);
    outline: none;
}

.input-field::placeholder {
    color: inherit;
}

.submit-btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 0 var(--radius-6) var(--radius-6) 0;
    background-color: var(--blue-dark);
    color: var(--white);
    padding-inline: 24px;
    font-weight: var(--fw-700);
}

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for large than 575px screen
 */

@media (min-width: 575px) {
    /**
   * REUSED STYLE
   */

    .container {
        max-width: 540px;
        width: 100%;
        margin-inline: auto;
    }

    .section-subtitle {
        font-size: var(--fs-7);
    }

    /**
   * FOOTER
   */

    .footer {
        padding-block: 60px 100px;
    }
}

/**
 * responsive for large than 768px screen
 */

@media (min-width: 768px) {
    /**
   * CUSTOM PROPERTY
   */

    :root {
        /**
     * spacing
     */

        --section-padding: 40px;
    }

    /**
   * REUSED STYLE
   */

    .container {
        max-width: 720px;
    }

    .grid-list {
        grid-template-columns: 1fr 1fr;
    }

    /**
   * HEADER
   */

    .header .btn {
        display: block;
        margin-inline-start: auto;
        padding: 8px 20px;
    }

    .header.active .btn {
        background-color: var(--blue-dark);
        border-color: var(--blue-dark);
        color: var(--white);
    }

    /**
   * RESI-DIGITAL
   */

    .resi-digital .section-title {
        max-width: 30ch;
        margin-inline: auto;
    }

    /**
   * FAQ-INFO
   */

    .faq-info .container {
        grid-template-columns: 1fr;
    }

    /**
   * DOWNLOAD-INFO
   */

    .download-info .container {
        grid-template-columns: 1fr 0.8fr;
        align-items: center;
    }

    .download-info-banner {
        order: 1;
    }

    .download-info .download-platform {
        justify-content: left;
    }

    /**
   * OFFER
   */

    .offer .container {
        /* grid-template-columns: 1fr 0.7fr;
        align-items: center; */
    }
}

/**
 * responsive for large than 992px screen
 */

@media (min-width: 992px) {
    /**
   * REUSED STYLE
   */

    .container {
        max-width: 960px;
    }

    .section-subtitle {
        font-size: var(--fs-4);
    }

    /**
   * HEADER
   */

    .nav-open-btn,
    .navbar > *:not(.navbar-list),
    .overlay {
        display: none;
    }

    .navbar,
    .navbar.active {
        all: unset;
        display: block;
        margin-inline: auto 24px;
    }

    .navbar-list {
        display: flex;
        gap: 30px;
    }

    .navbar-link {
        color: var(--blue-dark);
        transition: var(--transition-1);
    }

    .navbar-link:is(:hover, :focus-visible) {
        opacity: 0.7;
    }

    .header.active .navbar-link {
        color: var(--blue-dark);
    }

    .header.active .navbar-link:is(:hover, :focus-visible) {
        opacity: 1;
        color: var(--blue-dark);
    }

    .header .btn {
        margin-inline-start: 0;
    }

    /**
   * HERO
   */

    .hero.slide-content {
        margin-top: 63px;
    }

    /**
   * FAQ-INFO
   */

    .faq-info .container {
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    /**
   * DOWNLOAD-INFOS
   */

    .download-info .download-info-banner img {
        width: 450px;
    }

    .download-info .download-info-banner:before {
        content: "";
        background-image: url(../images/star.png);
        background-repeat: no-repeat;
        background-size: contain;
        height: 100px;
        width: 100%;
        position: absolute;
        bottom: -15px;
    }

    .download-info .download-platform img {
        height: 53px;
        width: auto;
    }

    .download-info .container {
        grid-template-columns: 0.7fr 1fr;
        align-items: center;
    }

    /**
   * OFFER
   */

    .offer .container {
        display: grid;
        grid-template-columns: 1fr 0.7fr;
        gap: 100px;
    }

    /**
   * FOOTER
   */

    .footer .grid-list {
        grid-template-columns: 1fr 1fr 0.7fr;
    }
}

/**
 * responsive for large than 1200px screen
 */

@media (min-width: 1200px) {
    /**
   * REUSED STYLE
   */

    .container {
        max-width: 1140px;
    }

    /**
   * HERO
   */

    .hero-text {
        padding-inline-end: 100px;
    }

    /**
   * RESI-DIGITAL
   */

    .resi-digital .grid-list {
        grid-template-columns: repeat(2, 1fr);
    }

    /**
   * OFFER
   */

    .offer .container {
        grid-template-columns: 1fr 0.8fr;
    }

    /**
   * FOOTER
   */

    address.footer-text {
        padding-inline-end: 100px;
        margin-block-end: 16px;
    }
}

/**
 * responsive for large than 1400px screen
 */

@media (min-width: 1400px) {
    /**
   * REUSED STYLE
   */

    .container {
        max-width: 1320px;
    }

    /**
   * DOWNLOAD-INFO
   */

    .download-info-list {
        grid-template-columns: 1fr 1fr;
    }
}
